<html ng-app="taplist">
  <head>
    <title>TV Beer Listing ({{ location }}) </title>
    <meta charset="utf-8">
    <!-- Browser favicon -->
    <link rel="shortcut icon" href="//www.bighopsgrowlerstation.com/img/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="btn btn-default navbar-brand" href="/">Beer!</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="location in locations"><a href="/{{location}}/">{{location}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="location in locations"><a href="/{{location}}/edit">{{location}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entry <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="location in locations"><a class="dropdown" href="/{{location}}/entry">{{location}}</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-default" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
  </head>
  <body ng-controller="TaplistController">
  </body>
</html>
