<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
  </head>
  <body>
    <form action="" method="post" name="entry">
      {{form.hidden_tag()}}
      <div class="form-group">
          {{form.brewery(class="form-control", placeholder="Enter Brewery")}}
      </div>
      <div class="form-group">
          <label for="{{form.brewery.id}}">Brewery</label>
          {{form.brewery(class="form-control", placeholder="Enter Brewery")}}
      </div>
      <div class="form-group">
          <label for="{{form.beertype.id}}">Style</label>
          {{form.beertype(class="form-control", placeholder="Enter Type")}}
      </div>
      <div class="form-group">
          <label for="{{form.alcohols.id}}">ABV</label>
          {{form.alcohols(class="form-control", placeholder="Enter ABV")}}
      </div>
      <p>Prices</p>
      <div class="form-group">
          <label for="{{form.pricepint.id}}">Pint</label>
          {{form.pricepint(class="form-control", placeholder="Enter Pint Price")}}
      </div>
      <div class="form-group">
          <label for="{{form.pricehalf.id}}">16oz</label>
          {{form.pricehalf(class="form-control", placeholder="Enter Half Growler Price")}}
      </div>
      <div class="form-group">
          <label for="{{form.pricegrowler.id}}">32oz</label>
          {{form.pricegrowler(class="form-control", placeholder="Enter Growler Price")}}
      </div>
      <div class="form-group">
          <label for="{{form.notes.id}}">Notes</label>
          {{form.notes(class="form-control", placeholder="Enter Notes")}}
      </div>
      <div class="checkbox">
        <label>
          Active: {{form.active()}}
        </label>
      </div>
      <button value="Entry" type="submit" class="btn btn-default">Submit</button>
    </form>
  </body>
</html>
