{% extends "base.html" %}
{% block content -%}
        {%- include "tablehead.html" %}
        <div class="hidescrollable bodycontainer" id="beers">
        {%- include 'table.html' %}
        <script type="text/javascript">
            function scroll(speed) {
                $(beers).delay(5000).animate({scrollTop: $(beertable).height() - $(beers).height()}, speed, "linear", function(){
                        $(this).delay(5000).animate({scrollTop: 0}, speed, "linear");
                });
            }
            speed = 100000;
            scroll(speed);
            setInterval(function(){scroll(speed)}, speed * 2 + 5000);
        </script>
{% endblock -%}
