{% extends "base.html" %}
{% block content -%}
        <form method='POST'>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Brewery</th>
                        <th>Name</th>
                        <th>Style</th>
                        <th>64<sup>oz</sup>/32<sup>oz</sup>/16<sup>oz</sup></th>
                        <th>ABV<sup>%</sup></th>
                        <th>Active</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody style='font-weight:bold;'>
            {% for beer in beers -%}
                    <tr>
                        <td>{{ beer['brewery'] }}</td>
                        <td>{{ beer['name']}}</td>
                        <td>{{ beer['type']}}</td>
                        {%- if beer['notes'] != "" %}
                        <td class="th4">{{ beer['notes'] }}</td>
                        {%- else %}
                        <td class="th4">{{ "$ %s / %s / %s"|format(beer['growler'], beer['half'], beer['pint'])|replace('.0', '') }}</td>
                        {% endif %}
                        <td>{{ beer['content'] }}</td>
                        <td><input id="test" type="checkbox" name="checks" value="{{ beer['beername'] }}"
                            {%- if beer['active'] == 'True' %} checked
                            {%- endif -%}></td>
                        <td><input type="checkbox" name="delete" value="{{ beer['beername'] }}"</td>
                    </tr>
            {% endfor -%}
                </tbody>
            </table>
            <input type="submit" value="Submit">
        </form>
{% endblock -%}
