{% block content %}
<h1>Entry</h1>
<form action="" method="post" name="entry">
    {{form.hidden_tag()}}
    <p>
        Please enter the Beer Name:<br>
        {{form.beername(size=80)}}<br>
    </p>
    <p>
        Please enter the Brewery Name:<br>
        {{form.brewery(size=80)}}<br>
    </p>
    <p>
        Please enter the Beer Type:<br>
        {{form.beertype(size=80)}}<br>
    </p>
    <p>
        Please enter the Alcohol Content:<br>
        {{form.alcohols(size=80)}}<br>
    </p>
    <p>
        Please enter the Beer Price:<br>
        {{form.pricepint(size=80)}}<br>
        {{form.pricehalf(size=80)}}<br>
        {{form.pricegrowler(size=80)}}<br>
    </p>
    <p><input type="submit" value="Entry"></p>
</form>
{% endblock %}
