{% block content %}
<h1>Entry</h1>
<form action="" method="post" name="entry">
    {{form.hidden_tag()}}
    <p>
        Brewery: {{form.brewery(size=80)}}<br>
    </p>
    <p>
        Name: {{form.beername(size=80)}}<br>
    </p>
    <p>
        Style: {{form.beertype(size=80)}}<br>
    </p>
    <p>
        ABV: {{form.alcohols(size=80)}}<br>
    </p>
    <p>
        Prices: {{form.pricepint(size=5)}} {{form.pricehalf(size=5)}} {{form.pricegrowler(size=5)}}
    </p>
    <p><input type="submit" value="Entry"></p>
</form>
{% endblock %}
